.CardContainer {
  width: calc(100vw - 16px);
  min-width: 300px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: white;
  border-radius: 4px;

  padding-bottom: 40px;
  pointer-events: none;

  box-shadow:
    0 0.4px 2.2px rgba(0, 0, 0, 0.003),
    0 0.9px 5.3px rgba(0, 0, 0, 0.004),
    0 1.6px 10px rgba(0, 0, 0, 0.005),
    0 2.9px 17.9px rgba(0, 0, 0, 0.006),
    0 5.4px 33.4px rgba(0, 0, 0, 0.007),
    0 13px 80px rgba(0, 0, 0, 0.01)
  ;

  //Desktop
  @media only screen and (min-width: 799px) {
    width: 100%;
  }

  .Card{
    width: 100%;
    margin-top: 10px;
    padding: 10px 30px 150px 30px;
    border-radius: 6px;
    pointer-events: none;

    .TopLockup{
      display: flex;
      justify-content: space-between;
      flex-direction: row;

      .ToggleCard{
        width: 30px;
        height: 30px;
        background-color: var(--colorLightGray);
        border-radius: 50%;
        margin-right: -10px;
        margin-top: -2px;
        background-image: url("../../../assets/images/icon-arrow-right.png");
        background-size: 30%;
        background-repeat: no-repeat;
        background-position: center;

        transform: rotate(-90deg);
        transition: transform .3s ease-in-out;

        &[data-expanded="true"]{ transform: rotate(-270deg); }
        &:active{ opacity: .5; }
      }
    }

    .Title{
      font-family: 'Bowlby One SC', cursive;
      color: var(--colorMidGray);
      font-size: 30px;
      letter-spacing: -.01em;
      width: 90%;
      margin-top: 15px;
      margin-bottom: 15px;
      align-self: flex-start;
    }

    .LocationBar{
      display: flex;
      flex-direction: row;
      font-size: 14px;

      .Location{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
  
        //margin-top: -10px;
        margin-bottom: 10px;
        margin-right: 10px;
  
          img{
            width: 12px;
            height: 14px;
            margin-right: 10px;
          }
  
        }

        .Distance{
          opacity: .5;
        }
    }

    .BottomContent{
      animation: rise .2s ease-in forwards;
      transform: translateY(100px);
      opacity: 0;

      pointer-events: none;

      @keyframes rise {
        to{
          transform: translateY(0);
          opacity: 1;
        }
      }
     }

    .NotesContainer{
      //height: 40px;
      overflow: hidden;
      text-overflow: ellipsis;
    }

      h1{
        font-weight: 400;
        letter-spacing: -2px !important;
      }

      p{
        text-overflow: ellipsis;
        margin-bottom: 20px;
        margin-block-start: 10px;
        margin-block-end: 20px;
      }

      &[data-expanded="true"]{
        .BottomContent{ display: block; }
      }
  }

  .Save{
    pointer-events: auto;
    margin-top: 20px;

    &[data-fav="true"]{
      button{
        background-image: url(../../../assets/images/icon-heart-on@2x.png);
      }
    }

    button{
      width: 50px;
      height: 50px;
      background-image: url(../../../assets/images/icon-heart-off@2x.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      background-color: transparent;
      border: none;

      &:active{
        opacity: .2;
      }
    }
    
  }
}

