.ButtonWithHintContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  background-color: var(--colorLightGray);

  margin-top: 10px;
  border-radius: 4px;
  margin-bottom: 20px;

  .Hint{
    justify-self: center;
    align-self: center;
    padding: 0 5px 0 5px;
    margin-left: 20px;
    font-size: 14px;
  }

  button {
    height: 50px;

    border: none;
    text-align: center;
    //margin-top: 10px;
    margin: 10px 10px 10px 10px;
    //margin-bottom: 10px;
    min-width: 150px;

    align-self: flex-end;

    background-color: var(--colorMarigold);

    span{ 
      padding-left: 10px;
      padding-right: 10px;
    }

    &[data-type="primary"] {
      background-color: var(--colorMarigold);
    }

    &[data-type="secondary"] {
      border: solid 2px var(--colorMarigold);
      background-color: var(--colorOffWhite);
    }

    &:active {
      transform: scale(.98);
    }

    &hover {
      transform: scale(.95);
    }

    border-radius: 4px;

    font-size: 15px;
    -webkit-appearance: none;
  }
}