.LinkContainer {
  display: block;
  margin-bottom: 12px;

  a{
    font-size: 11px;
    padding: 8px;
    background-color: var(--colorLightGray);
    color: var(--colorMidGray);
    text-decoration: none;
    border-radius: 4px;
    line-height: 2em;
  }
}