//Font
@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&family=Manrope:wght@500&display=swap');

html{
  background-color: var(--colorOffWhite);
}

html,
body {
  height: 100%;
  width: 100%;
  overflow: auto;
}

h1{
  font-family: 'Bowlby One SC', sans-serif;
  color: var(--colorMidGray);
}

p {
  font-size: 14px;
  line-height: 26px;
  color: var(--colorMidGray);
}

.App {
  position: absolute;
  top: 0;
  bottom: 0;
  overflow: hidden;
  width: 100%;

  font-family: 'Manrope', sans-serif;

  background-color: var(--colorOffWhite);

  .LoadingVeil{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--colorOffWhite);
    z-index: 100;
  }

  .MenuToggle{
    position: absolute;
    bottom: 3%;
    right: 3%;
    //width: 60px;
    height: 50px;
    border-radius: 30px;
    background-color: white;
    z-index: 100;

    transition: transform .3s ease-in-out, background-color 0.3s ease-in-out 0.1s;

    user-select: none;
    cursor: pointer;
    border: 1px solid transparent;

    //Desktop
    @media only screen and (min-width: 799px) {
      bottom: 3%;
      left: 2%;
      right: auto;
    }

    
    &:active{
      transform: scale(.90);
    }

    &[data-filtersapplied="true"]{
      &::after{
        content: '';
        position: absolute;
        right: 0px;
        top: 0px;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: var(--colorMarigold);
        opacity: .9;
      }
    }

    &[data-disabled="true"]{
      background-color: var(--colorLightGray) !important;
      opacity: .5;
      pointer-events: none;
    }

    &[data-filtersapplied="false"]{
      &::after{
        display: none;
      }
    }

    box-shadow:
      0 0px 4.3px rgba(0, 0, 0, 0.053),
      0 0px 14.5px rgba(0, 0, 0, 0.077),
      0 0px 65px rgba(0, 0, 0, 0.13)
    ;
  
    .ToggleInnerInActive{
      display: flex;
      place-items: center;
      height: 100%;

      img{
        width: 20px;
        //margin-left: 20px;
        margin-right: 10px;
      }

      span{
        margin-left: 20px;
        margin-right: 20px;
      }
    }

    &[data-active = "true"]{
      
      width: 200px;
      height: 50px;
      border-radius: 30px;
      background-color: var(--colorMarigold);
      //width: 100%;
      text-align: center;
      line-height: 50px;

      transform: translateX( calc(50vw * -1 + 120px)  );

        //Desktop
        @media only screen and (min-width: 799px) {
          transform: translateX( 40px );
        }

      //Hide hint
      &::after{
        display: none;
      }
    }
  }
}

:root {

  //Font
  --colorMarigold: #FFBD2B;
  --colorOffWhite: #F7F7F7;
  --colorMidGray: #373737;
  --colorLightGray: #EEEEEE;
  --colorPink: #FF265C;

  //MapBox
  .mapboxgl-ctrl-logo{ display: none; }
  .mapboxgl-ctrl-bottom-right{ display: none; }
  .mapboxgl-map{ 
    //border-radius: 12px !important; 
  }
}